
      {{ govukDetails({
        summaryText: "View school attendance data (demo)",
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="">View school attendance data</a><br>
            <span class="govuk-hint">View attendance data and insights for your school, pupil groups and individual pupils.</span>
          </li>
          <li>
            <a href="">Your attendance summary reports</a><br>
            <span class="govuk-hint">Download a Word document report of your school\'s attendance. New reports are added termly and half-termly.</span>
          </li>
          <li>
            <a href="">Absence bandings user guide on GOV.UK (opens in a new tab)</a><br>
            <span class="govuk-hint">Find out how the absence bandings report works, what the data shows you and how to use it to target your resources across your school, academy trust or local authority.</span>
          </li>
        </ul>'
      }) }}

      {{ govukDetails({
        summaryText: "Compare your attendance (demo)",
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="">Compare your attendance</a><br>
            <span class="govuk-hint">Use this tool to compare your attendance with other schools (mainstream primary and secondary schools only).</span>
          </li>
        </ul>'
      }) }}

      {{ govukDetails({
        summaryText: "Monitor your school attendance - Engagement",
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="">Engagement dashboard</a><br>
          </li>
        </ul>'
      }) }}


