{% extends "layouts/main.html" %}

{% set pageName="Before you continue" %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p>This sign in option is for internal Department for Education (DfE) users only.</p>
    <p>By clicking continue, you agree to use your Microsoft account details to sign in to View your education data (VYED). </p>

    {{ govukButton({
      text: "Continue",
      href: "/vyed"
    }) }}
  </div>
</div>

{% endblock %}
